.cards {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	max-width: 880px;
	margin-top: 50px;
}

@media screen and (max-width: 1023px) {
	.cards {
		max-width: 581px;
	}
}

@media screen and (max-width: 767px) {
	.cards {
		display: block;
		max-width: 282px;
		margin-top: 33px;
	}
}
