.card__icon-like {
	padding: 0;
	background-image: url(../../../../images/icon-like.svg);
	width: 22px;
	height: 19px;
	border: none;
	margin-top: 18px;
	background-color: white;
	background-repeat: no-repeat;
}

.card__icon-like:hover {
	transition: 0.2s;
	opacity: 0.5;
	cursor: pointer;
}
