.profile {
	display: flex;
	justify-content: space-between;
	margin: auto;
	align-items: center;
	margin-top: 43px;
	max-width: 880px;
	min-height: 120px;
}

@media screen and (max-width: 1023px) {
	.profile {
		max-width: 750px;
	}
}

@media screen and (max-width: 767px) {
	.profile {
		display: block;
		max-width: 320px;
	}
}
