.card__icon-delete {
	margin: 0;
	padding: 0;
	background-image: url(../../../images/delete-Icon.svg);
	width: 19px;
	height: 19px;
	border: none;
	margin-top: 20px;
	margin-left: 244px;
	background-color: transparent;
	position: absolute;
	z-index: 1;
	visibility: hidden;
}

.card__icon-delete:hover {
	transition: 0.2s;
	opacity: 0.6;
	cursor: pointer;
}
