.card {
	margin: 0;
	background-color: white;
	width: 282px;
	min-height: 355px;
	border-radius: 10px;
	margin-right: 17px;
	margin-bottom: 20px;
}

.card:nth-child(3n) {
	margin-right: 0;
}

@media screen and (max-width: 1023px) {
	.card:nth-child(3n) {
		margin-right: 17px;
	}

	.card:nth-child(even) {
		margin-right: 0;
	}

}

